/* {
    border: 1px yellowgreen solid;
}*/

@keyframes fadeIn {
    0% {
        transform: translateY(-20%);
        opacity: 0;
    }

    40% {
        transform: translateY(-20%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideRight {
    0% {
        transform: translateX(-20%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(20%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes reveal-link {
    0%{
        width: 100%;
    }
    100%
    {
        width: 5%;
    }
}

.hide {
    opacity: 0;
}

.transparent-link{
    -webkit-text-fill-color: transparent;
}

body {
    font-family: sans-serif;
    background: linear-gradient(to right, rgba(192, 237, 255, 1) -20%, rgba(192, 237, 255, 1) 40%, white 55%);
    padding: 0;
    margin: 0;
    animation: fadeIn normal 2s ease-out;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: .4rem 5rem.2rem 5rem;
    background-color: white;
    margin: 0;
}

#page_links {
    display: flex;
    gap: 1em;
}

#page_links img {
    width: 20px;
    color: white;
}

#page_links a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    width: fit-content;
    font-size: large;
    border: solid black 1px;
    border-radius: 5rem;
    padding: .8rem;
    text-decoration: none;
    color: black;
}

#page_links a[class="actual"]:visited {
    color: white;
}

h1 {
    background: -webkit-linear-gradient(right, black 25%, rgba(23, 166, 222, 1) 75%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 4em;
    font-weight: bold;
    width: fit-content;
    margin: 0;
}

button {
    border: none;
    transition: all .5s ease;
}

button:hover
{
    cursor: pointer;
    transform: scale(1.05);
    filter: brightness(90%);
    transition: all .3s ease-out;
}

a:hover
{
    transform: scale(1.05);
    transition: all .3s ease-out;
}

button:active{
    filter: brightness(70%);
}

#hero-section {
    display: flex;
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5em 10em 10em 10em;
    margin: 0;
    gap: 1rem;
    background-color: transparent;
    position: relative;
}

#hero-section::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5em;
    background: linear-gradient(to top, white, transparent);
    pointer-events: none;
}

.slideRight {
    animation: slideRight normal 1s ease-out;
}

.slideLeft {
    animation: slideLeft normal 1s ease-out;
}

#main-text-hero {
    background: none;
    -webkit-text-fill-color: black;
}

#main-text-hero span {
    background: -webkit-linear-gradient(right, white -70%, rgba(11, 194, 245, 1) 50%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

#sub-text-hero {
    font-size: 1.4rem;
    font-weight: 400;
    text-align: justify;
    width: fit-content;
}

#infos-hero {
    max-width: 53%;
    display: flex;
    flex-direction: column;
    gap: 1em;
}



.button {
    font-weight: 600;
    font-size: large;
    padding: .3rem 1rem;
    /*clip-path: inset(0.1em 0.1em 0.1em 0.1em round 0.4em);*/
    border-radius: .5rem;
    margin: 0 .5rem;
}


.btn-1 {
    background-color: black;
    color: white;
}

.btn-1 span {
    display: inline-block;
    transform: scaleX(1.3);
    transform-origin: center;
    margin-left: 0.3em;
}

.btn-2 {
    background-color: white;
    color: black;
    border: 1px black solid;
    border-radius: .5rem;
}

#mentions {
    font-weight: 100;
    font-size: .8rem;
    display: flex;
    flex-direction: row;
    gap: 2em;
    width: fit-content;
}

#mentions div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    width: fit-content;
}

#mentions span {
    font-weight: 900;
    font-size: 1rem;
}

#card-hero {
    display: flex;
    padding: 2rem 4rem;
    justify-content: center;
    width: fit-content;
    height: auto;
    font-weight: bold;
    font-size: small;
    border-radius: 2em;
    background: linear-gradient(to right, white 3%, rgba(7, 198, 247, 1));
    box-shadow: 1em 1em 5em rgba(0, 0, 0, 0.521);
}


#card-hero-main {
    display: grid;
    grid: auto auto / auto auto;
    gap: 5rem;
    width: fit-content;
}

#card-hero div div {
    width: min-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#expertise-section {
    position: relative;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 100%;
    padding-bottom: 5em;
}

#expertise-section h1 {
    margin: .3em 0;
}

#sub-text-expertise {
    font-size: xx-large;
    margin-bottom: .7em;
    text-align: center;
}

#cards-expertise {
    display: grid;
    grid: auto / auto auto auto auto;
    gap: 3rem;
    padding: 1rem 5rem;
}

.card-expertise,
.card {
    background-color: rgba(255, 255, 255, 0.884);
    box-shadow: rgba(0, 0, 0, 0.192) 1rem 1.5rem 3em;
    padding: 2rem 1.5rem 1rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 2em;
    font-weight: 500;
    font-size: .9rem;
    max-width: 15rem;
    border-radius: .5rem;
}

.text-1 {
    font-weight: 700;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: .8em;
}

.pros {
    margin-bottom: 4em;
}

.pros div,
#details div {
    display: flex;
    align-items: center;
    gap: .2rem;
}

/*.pros img
{
    filter: invert(50%) sepia(100%) saturate(350%) hue-rotate(80deg);
}*/

#all-services {
    background-color: rgba(23, 166, 222, 1);
    color: white;
    font-size: 2.5em;
    font-weight: bold;
    padding: .15em 1.5em;
    border-radius: .3em;
    margin: 1rem 0;
}

#footer-section {
    background: linear-gradient(to top, rgba(34, 34, 34, 1), rgba(70, 68, 68, 1));
    padding: 5em 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    font-size: larger;
    color: rgb(196, 196, 196);
}

#footer-section h1 {
    width: fit-content;
    background: none;
    -webkit-text-fill-color: white;
    text-align: center;
}

#footer-section div {
    display: flex;
    gap: 1.5em;

}

#footer-section button {
    font-size: large;
    border-radius: .5rem;
    background-color: white;
    font-weight: 100;
    padding: .5rem 1rem;
}

#footer {
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: white;
    gap: 1em;
    padding: 2em 12em 7em 12em;
}

#footer div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 15em;
    line-height: 1.5em;
    text-align: left;
}

#footer div div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}

.footer-icon {
    width: min-content;
    height: min-content;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    font-size: larger;
    margin: 2em 0;
}

#categories {
    display: flex;
    justify-content: space-around;
    align-items: start;
    gap: 1rem;
    padding: .5rem 1.5rem;
    background-color: white;
    width: fit-content;
    height: fit-content;
    box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.288);
    margin: 2rem 0;
    transform: scale(.9);
}

#categories div {
    padding: 1rem 2rem;
    border-radius: .8rem;
    margin: .3rem .5rem;
}

.actual {
    background-color: black;
    color: white;
    transform: scale(1.1);
}

.actual img {
    filter: brightness(0) saturate(100%) invert(100%) sepia(100%) hue-rotate(200deg);

}

.cards {
    display: grid;
    gap: 2em;
    grid-template-columns: auto auto auto;
}

.card {
    padding: 1.5rem 1.8rem;
    max-width: 17rem;
    gap: 1em;
}

.category {
    font-weight: bold;
    font-size: larger;
    width: max-content;
    text-align: center;
}

.date {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: .8rem;
    font-weight: 500;
    color: rgb(114, 114, 114);
    width: 100%;
}

.date div {
    display: flex;
    align-items: center;
    gap: 2px;
}

.include {
    font-weight: bold;
}

.btnSvc {
    width: 100%;
    display: flex;
    justify-content: center;
}

#details {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.card button {
    font-size: medium;
    background-color: black;
    color: white;
    padding: .2rem 1rem;
    border-radius: .3rem;
}

.card button span {
    width: fit-content;
    display: inline-block;
    transform: scaleX(1.2);
}

.infos-card {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.check-icon {
    width: 2rem;
    filter: invert(50%) sepia(100%) saturate(400%) hue-rotate(110deg);
}

.clock-icon {
    opacity: 45%;
}

.illustrating {
    width: 100%;
}

.infos-card,
.infos-card span {
    display: flex;
    align-items: center;
}

.category {
    border-radius: 1rem;
    color: hsla(197, 81%, 48%, 1);
    border: 1px solid hsla(197, 81%, 48%, 1);
    font-size: small;
    padding: 2px 3px;
}

.client {
    display: flex;
    align-items: center;
}

.softwares span {
    border-radius: 1rem;
    color: black;
    border: 1px black solid;
    padding: 2px 3px;
    display: inline-block;
}


@media screen and (max-width: 1200px) {
    #cards-expertise {
        display: grid;
        grid: auto auto / auto auto;
        gap: 3rem;
        padding: 1rem 3rem;
    }
    #sub-text-expertise{
        font-size: x-large;
    }
    #hero-section{
        padding: 5em 7em 10em 7em;
    }
    .button {
        margin: 0.15rem .5rem;
    }

    #cards-expertise {
        display: grid;
        grid: auto auto / auto auto;
        gap: 3rem;
        padding: 1rem 3rem;
    }

    #main-text-expertise,
    #main-text-hero {
        font-size: 2em;
    }

    #sub-text-hero {
        font-size: 1em;
    }

    #footer {
        padding: 2em 3em 7em 3em;
        gap: 3rem;
        justify-content: center;
    }

    #expertise-section {
        padding-bottom: .7rem;
    }
    #mentions{
        gap: .5rem;
        font-size: .7rem;
    }
    #mentions div{
        gap: .2rem;
    }
    #card-hero{
        padding: 1.5rem 2rem;
    }
    #card-hero-main{
        gap: 1.8rem;
    }
    #footer-section{
        padding: 2.5em 1.5em;
    }
    header{
        padding: .4rem 2rem.2rem 2rem;
    }
    .cards{
        grid: auto auto / auto auto;
    }
}


@media screen and (max-width: 1000px) {
    
}

@media screen and (max-width: 900px) {

    #footer{
        font-size: small;
        gap: 1rem;
    }
    #footer div{
        width: max-content;
    }
    #footer-section h1 {
        font-size: 2em;
    }

    .button {
        font-size: medium;
    }
    h1{
        font-size: 3em;
    }
    .main{
        font-size: medium;
    }
    #categories{
        gap: .7rem;
    padding: .3rem 1rem;
    margin: 1.5rem 0;
    transform: scale(.8);
    }

}

@media screen and (max-width: 800px) {
    #hero-section{
        flex-direction: column;
        padding-right: 0;
        padding-left: 0;
    }
    #main-text-hero{
        font-size: 4em;
    }
    #sub-text-hero{
        font-size: 1.5em;
    }
    #infos-hero{
        align-items: center;
        max-width: 90%;
    }
    #hero-section{
        padding-bottom: 3em;
    }
    #all-services{
        font-size: 1.8em;
    }
    #footer-section button{
        font-size: medium;
        padding: .3rem .7rem;
    }
    
    .cards{
        gap: .7rem;
    }
}

@media screen and (max-width: 600px){
    #page_links{
        gap: .5em;
    }
#page_links a {
    border-radius: 5em;
    transform: scale(0.9);
}
#footer-section div{
    flex-direction: column;
    gap: .5rem;
}
#cards-expertise {
        display: grid;
        grid: auto / auto;
        gap: 3rem;
        padding: 1rem 3rem;
    }
    .card-expertise{
    padding: 1rem 1.5rem 0 1rem;
    gap: 1em;
}
.card{
    gap: .5rem;
    padding: .5rem 1rem;
    font-size: small;
}
.main{
    font-size: small;
}
#logo
{
    transform: scale(.8);
}
header{
        padding: .4rem 0rem ;
        justify-content: center;
        flex-wrap: wrap;
    }
    #footer{
        flex-direction: column;align-items: center;
    }
    #footer div {
        max-width: 25em;
    }
    
    .cards{
        grid: auto auto / auto;
        gap: 1rem;
    }
    #categories{
        flex-wrap: wrap;
        gap: .2rem;
        padding: .2rem;
        background-color: rgba(255, 255, 255, 0.877);
    }
}

@media screen and (max-width: 480px){
    nav a span{
        display: none;
    }
    #page_links{
        gap: .15rem;
    }
    #main-text-hero{
        font-size: 2em;
    }
    #sub-text-hero{
        font-size: 1.1em;
    }
    .button{
        font-size: .8rem;
        margin: 0;
        padding: .3rem .7rem;
    }
    #card-hero{
        padding: 1rem 1.3rem;
        font-size: .7rem;
    }
    #card-hero-main{
        gap: 1rem;
    }
    #sub-text-expertise{
        font-size: large;
    }
    #all-services{
        font-size: 1.3em;
    }
    #footer-section{
        font-size: medium;
    }
}